@import-normalize; /* bring in normalize.css styles */

/* @import 'normalize.css'; */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&family=Montserrat:wght@400;600&display=swap");
* {
  box-sizing: border-box;
  font-family: 'Manrope';
}


body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin: 0;
  color: #8a8a89;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  border: none;
}
