@import-normalize; /* bring in normalize.css styles */


@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&family=Montserrat:wght@400;600&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Manrope';
}

:root {
  --primary-btn-color: #3470ff;
  --secondary-btn-color: #0b44cd;
  --primary-text-color: rgba(18, 20, 23, 0.5);
  --secondary-text-color: #121417;
  --backdrop-color: rgba(0, 0, 0, 0.5);
  --modal-elem-background: #f9f9f9;
  --white: #fff;
  --search-background: #f7f7fb;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin: 0;
  color: #8a8a89;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  border: none;
}
